[submodule "repo/glib2-static"]
	path = repo/glib2-static
	url = https://aur.archlinux.org/glib2-static.git
[submodule "repo/qemu-user-static"]
	path = repo/qemu-user-static
	url = https://aur.archlinux.org/qemu-user-static.git
[submodule "repo/obs-studio-browser"]
	path = repo/obs-studio-browser
	url = https://aur.archlinux.org/obs-studio-browser.git
[submodule "repo/vlc-luajit"]
	path = repo/vlc-luajit
	url = https://aur.archlinux.org/vlc-luajit.git
[submodule "repo/yay"]
	path = repo/yay
	url = https://aur.archlinux.org/yay.git
[submodule "repo/chisel"]
	path = repo/chisel
	url = https://aur.archlinux.org/chisel.git
[submodule "repo/r8125-dkms"]
	path = repo/r8125-dkms
	url = https://aur.archlinux.org/r8125-dkms.git
[submodule "repo/mozjpeg"]
	path = repo/mozjpeg
	url = https://aur.archlinux.org/mozjpeg.git
[submodule "repo/wget2"]
	path = repo/wget2
	url = https://aur.archlinux.org/wget2.git
[submodule "repo/pod2man"]
	path = repo/pod2man
	url = https://aur.archlinux.org/pod2man.git
[submodule "repo/rime-flypy"]
	path = repo/rime-flypy
	url = https://aur.archlinux.org/rime-flypy.git
[submodule "repo/rime-lua-hook-git"]
	path = repo/rime-lua-hook-git
	url = https://aur.archlinux.org/rime-lua-hook-git.git
[submodule "repo/konsole-dracula-git"]
	path = repo/konsole-dracula-git
	url = https://aur.archlinux.org/konsole-dracula-git.git
[submodule "repo/gtk3-classic"]
	path = repo/gtk3-classic
	url = https://aur.archlinux.org/gtk3-classic.git
[submodule "repo/google-chrome"]
	path = repo/google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "repo/liboping"]
	path = repo/liboping
	url = https://aur.archlinux.org/liboping.git
[submodule "repo/auracle-git"]
	path = repo/auracle-git
	url = https://aur.archlinux.org/auracle-git.git
[submodule "repo/pacaur"]
	path = repo/pacaur
	url = https://aur.archlinux.org/pacaur.git
[submodule "repo/trustedqsl"]
	path = repo/trustedqsl
	url = https://aur.archlinux.org/trustedqsl.git
[submodule "repo/wxgtk2.8"]
	path = repo/wxgtk2.8
	url = https://aur.archlinux.org/wxgtk2.8.git
[submodule "repo/hamradio-menus"]
	path = repo/hamradio-menus
	url = https://aur.archlinux.org/hamradio-menus.git
[submodule "repo/maddy"]
	path = repo/maddy
	url = https://aur.archlinux.org/maddy.git
[submodule "repo/ffmpeg-cuda"]
	path = repo/ffmpeg-cuda
	url = https://aur.archlinux.org/ffmpeg-cuda.git
[submodule "repo/cinny-web-git"]
	path = repo/cinny-web-git
	url = https://aur.archlinux.org/cinny-web-git.git
