[Unit]
Description=KunoiSayami utils status upstream
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
Environment="RUST_LOG=info"
ExecStart=/usr/bin/ksutils-status-upstream --config %i.toml --cache %i.json
WorkingDirectory=/etc/ksutils/status-upstream/
KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
